//========================= CONTAINER =========================//
$maxWidth: 1920; // Max Layout Width
$minWidth: 320; // Min Layout Width
$maxWidthContainer: 1200; // Max Container Width (without padding)
$containerPadding: 30; // Container paddings
$containerWidth: $maxWidthContainer + $containerPadding; // Container Width (with paddings)

//========================= BREAKPOINTS =========================//
$pc: toEm($containerWidth); // PC
$large: toEm(1100); // Large
$tablet: toEm(991.98); // Tablet
$medium: toEm(820); // Medium
$mobileLarge: toEm(767.98); // Mobile Large
$small: toEm(550); // Small
$mobileSmall: toEm(479.98); // Mobile Small
$mobileMini: toEm(320); // Mobile Mini

//========================= RESPONSIVE =========================//
$responsiveType: 1; // 1 - responsive, 2 - breakpoints

//========================= FONTS =========================//
$arial: 'Arial', sans-serif;

//========================= COLORS =========================//
$main-text: #000;
$heading: #2F4F4F;
$card-background: #eee;
$page-background: #fff;
$number-color: #8B0000;

//========================= WEIGHT =========================//
$regular: 400;
$bold: 700;

//========================= HOVER =========================//
$mouse-device: '(hover: hover) and (pointer: fine)'; // Mouse devices
$touch-device: '(hover: none) and (pointer: coarse)'; // Touch devices